extends ../layouts/default.pug

include ../mixins/productType.pug
include ../mixins/resolvePaging.pug

block content
  input(type='hidden', value=type || '', id='productType')
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active 
            +getProductType(type)
  br
  br
  .container
    .col-sm-12
      .col-sm-8.text-center
        .col-sm-4
          label.sort-label(for='sort') Сортирай
          select.form-control#sort.frm-field.required.sect(name="sortField")
            option(value='title') Име на продукт
            option(value='viewsCount') Брой преглеждания
            option(value='price') Цена на продукт
            option(value='dateCreated') Дата на добавяне
        .col-sm-4
          label.sort-label(for='order') Подредба
          select.form-control#order.frm-field.required.sect(name="sortType")
            option(value='1') Възходящ ред
            option(value='-1') Низходящ ред
  br
  br
  .container.products-content
    .col-md-12
      if (products && products.length)
        - for (var p = 0; p < products.length; p += 1)
          .col-md-4.productBoxHeight
            .panel.panel-default
              - if (products[p].wasPrice)
                .cnrflash
                  .cnrflash-inner
                    span.cnrflash-label
                      | Промо
              .panel-heading.text-center.prodName
                = products[p].title
              .panel-body.text-center
                table.table#tableBorderTop
                  tr
                    td.crop
                      a(href='/products/details/' + products[p]._id)
                        img.img-responsive.imgRightDimensions.prodImg(title='Снимка на продукт', alt=products[p].url, src=products[p].url)
                  tr
                    td
                      | Цена: 
                      span.prodPrice
                        = products[p].price
                      |  лв.
                  - if (products[p].wasPrice)
                    tr
                      td.scratchOverText.text-center
                        = 'Предишна цена: ' + products[p].wasPrice + 'лв.'
                  - else
                    tr
                      td
                        br
                  tr
                    td
                      button.btn.btn-default.btn-lg.hundredPercentWidth(type='button')
                        span.glyphicon.glyphicon-heart
                        |  Добави в любими
                  tr
                    td
                      form(action='#', method='post')
                        fieldset
                          input(type='hidden', name='id', value=products[p]._id)
                          input(type='hidden', name='title', value=products[p].title)
                          input(type='hidden', name='url', value=products[p].url)
                          input(type='hidden', name='price', value=products[p].price)
                          - if (isAuthenticated)
                            input.button.btn.btn-warning.btn-lg.hundredPercentWidth(type='button', name='submit', value='Добави в количката').addToCart
                          - else
                            a.btn.btn-success.btn-lg.hundredPercentWidth(href="/products/details/" + products[p]._id) Вижте детайли
          - if ((p !== 0) && (p % 3 === 0))
            .clearfix.visible-md-block.visible-sm-block
      else
        h2.text-center Няма продукти по зададените критерии  
    nav.numbering
      +getPages(pages)
  .clearfix
   
block scripts
  script(src='/static/js/site/filter.js')