include ../mixins/productType.pug
include ../mixins/resolvePaging.pug

.col-sm-12
  if (products && products.length)
    each product in products
      .col-sm-4.productBoxHeight
        .panel.panel-default
          - if (product.wasPrice)
            .cnrflash
              .cnrflash-inner
                span.cnrflash-label
                  | Промо
          .panel-heading.text-center.prodName
            = product.title
          .panel-body.text-center
            table.table#tableBorderTop
              tr
                td.crop
                  a(href='/products/details/' + product._id)
                    img.img-responsive.imgRightDimensions.prodImg(title='Снимка на продукт', alt=product.url, src=product.url)
              tr
                td
                  | Цена: 
                  span.prodPrice
                    = product.price
                  |  лв.
              - if (product.wasPrice)
                tr
                  td.scratchOverText.text-center
                    = 'Предишна цена: ' + product.wasPrice + 'лв.'
              - else
                tr
                  td
                    br
              - if (isAuthenticated)      
                tr
                  td
                    button#addToFavorites.btn.btn-default.btn-lg.hundredPercentWidth(type='button')
                      span.glyphicon.glyphicon-heart
                      |  Добави в любими
              tr
                td
                  form(action='#', method='post')
                    fieldset
                      input(type='hidden', name='id', value=product._id)
                      input(type='hidden', name='title', value=product.title)
                      input(type='hidden', name='url', value=product.url)
                      input(type='hidden', name='price', value=product.price)
                      - if (isAuthenticated)
                        input.button.btn.btn-warning.btn-lg.hundredPercentWidth(type='button', name='submit', value='Добави в количката').addToCart
                      - else
                        a.btn.btn-success.btn-lg.hundredPercentWidth(href="/products/details/" + product._id) Вижте детайли
  else
    h2.text-center Няма продукти по зададените критерии
nav.numbering
  +getPages(pages)
