extends /layouts/default.pug

block content
  //MAIN slider start
  ul#demo1
    li
      img(src='static/images/11.jpg', alt='')
      .slide-desc
        h3
          em
            | Цветя за всеки повод
    li
      img(src='static/images/22.jpg', alt='')
      .slide-desc
        h3
          em
            | Посетете ни
    li
      img(src='static/images/44.jpg', alt='')
      .slide-desc
        h3
          em
            | Нестандартни букети
  br
  //MAIN slider end

  .container
    h1#ourOffers.ourOffers-effect.text-center Нашите предложения
    hr
    br
    ul.nav.nav-tabs
      li.active
        a.home-tabs-font-size(data-toggle='tab', href='#topNew') Най-нови
      li
        a.home-tabs-font-size(data-toggle='tab', href='#topViewed') Най-преглеждани
    br
    //First tab content start
    .tab-content
      #topNew.tab-pane.fade.in.active
        .col-md-12
        if (topNewest && topNewest.length)
          - for (let p = 0; p < topNewest.length; p += 1)
            .col-md-4.productBoxHeight
              .panel.panel-default
                - if (topNewest[p].wasPrice.length)
                  .cnrflash
                    .cnrflash-inner
                      span.cnrflash-label
                        | Промо
                .panel-heading.text-center.prodName
                  = topNewest[p].title
                .panel-body.text-center
                  table.table#tableBorderTop
                    tr
                      td.crop
                        a(href='/products/details/' + topNewest[p]._id)
                          img.img-responsive.imgRightDimensions.prodImg(title='Снимка на продукт', alt=topNewest[p].url, src=topNewest[p].url)
                    tr
                      td
                        | Цена: 
                        span.prodPrice
                          = topNewest[p].price
                        |  лв.
                    - if (topNewest[p].wasPrice.length)
                      tr
                        td.scratchOverText.text-center
                          = 'Предишна цена: ' + topNewest[p].wasPrice + 'лв.'
                    - else
                      tr
                        td
                          br
                    tr
                      td
                        button.btn.btn-default.btn-lg.hundredPercentWidth(type='button')
                          span.glyphicon.glyphicon-heart
                          |  Добави в любими
                    tr
                      td
                        form(action='#', method='post')
                          fieldset
                            input(type='hidden', name='id', value=topNewest[p]._id)
                            input(type='hidden', name='title', value=topNewest[p].title)
                            input(type='hidden', name='url', value=topNewest[p].url)
                            input(type='hidden', name='price', value=topNewest[p].price)
                            - if (isAuthenticated)
                              input.button.btn.btn-warning.btn-lg.hundredPercentWidth(type='button', name='submit', value='Добави в количката').addToCart
                            - else
                              a.btn.btn-success.btn-lg.hundredPercentWidth(href="/products/details/" + topNewest[p]._id) Вижте детайли
      .clearfix.visible-md-block.visible-sm-block
      //First tab content end

      //Second tab content start
      #topViewed.tab-pane.fade
        .col-md-12
        if (topViewed && topViewed.length)
          - for (let p = 0; p < topViewed.length; p += 1)
            .col-md-4.productBoxHeight
              .panel.panel-default
                - if (topViewed[p].wasPrice.length)
                  .cnrflash
                    .cnrflash-inner
                      span.cnrflash-label
                        | Промо
                .panel-heading.text-center.prodName
                  = topViewed[p].title
                .panel-body.text-center
                  table.table#tableBorderTop
                    tr
                      td.crop
                        a(href='/products/details/' + topViewed[p]._id)
                          img.img-responsive.imgRightDimensions.prodImg(title='Снимка на продукт', alt=topViewed[p].url, src=topViewed[p].url)
                    tr
                      td
                        | Цена: 
                        span.prodPrice
                          = topViewed[p].price
                        |  лв.
                    - if (topViewed[p].wasPrice.length)
                      tr
                        td.scratchOverText.text-center
                          = 'Предишна цена: ' + topViewed[p].wasPrice + 'лв.'
                    - else
                      tr
                        td
                          br
                    tr
                      td
                        button.btn.btn-default.btn-lg.hundredPercentWidth(type='button')
                          span.glyphicon.glyphicon-heart
                          |  Добави в любими
                    tr
                      td
                        form(action='#', method='post')
                          fieldset
                            input(type='hidden', name='id', value=topViewed[p]._id)
                            input(type='hidden', name='title', value=topViewed[p].title)
                            input(type='hidden', name='url', value=topViewed[p].url)
                            input(type='hidden', name='price', value=topViewed[p].price)
                            - if (isAuthenticated)
                              input.button.btn.btn-warning.btn-lg.hundredPercentWidth(type='button', name='submit', value='Добави в количката').addToCart
                            - else
                              a.btn.btn-success.btn-lg.hundredPercentWidth(href="/products/details/" + topViewed[p]._id) Вижте детайли
      .clearfix.visible-md-block.visible-sm-block
      //Second tab content end
    
  //Carousel start
  #myCarousel.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    .carousel-inner(role='listbox')
      .item.active
        a(href='beverages.html')
          img.first-slide(src='static/images/b1.jpg', alt='First slide')
      .item
        a(href='personalcare.html')
          img.second-slide(src='static/images/b3.jpg', alt='Second slide')
      .item
        a(href='household.html')
          img.third-slide(src='static/images/b1.jpg', alt='Third slide')
  .clearfix
  //Carousel end

  //Fading pics start
  .ban-bottom-w3l
    .container
      .col-md-6.ban-bottom3
        .ban-top
          img.img-responsive(src='static/images/extraordinary1.jpg', alt='')
        .ban-img
          .ban-bottom1
            .ban-top
              img.img-responsive(src='static/images/baskets.jpg', alt='')
          .ban-bottom2
            .ban-top
              img.img-responsive(src='static/images/circle.jpg', alt='')
          .clearfix
      .col-md-6.ban-bottom
        .ban-top
          img.img-responsive(src='static/images/wedding1.jpg', alt='')
      .clearfix
  //Fading pics end