extends /layouts/default.pug

block content
  //MAIN slider start
  ul#demo1
    li
      img(src='static/images/11.jpg', alt='')
      .slide-desc
        h3.elegantshd
          em
            | Цветя за всеки повод
    li
      img(src='static/images/22.jpg', alt='')
      .slide-desc
        h3.elegantshd
          em
            | Посетете ни
    li
      img(src='static/images/44.jpg', alt='')
      .slide-desc
        h3.elegantshd
          em
            | Нестандартни букети
  br
  //MAIN slider end

  .container
    h1#ourOffers.ourOffers-effect.text-center Нашите предложения
    hr
    br
    ul.nav.nav-tabs
      li.active
        a.home-tabs-font-size(data-toggle='tab', href='#topNew') Най-нови
      li
        a.home-tabs-font-size(data-toggle='tab', href='#topViewed') Най-преглеждани
    br
    //First tab content start
    .tab-content
      #topNew.tab-pane.fade.in.active
        .col-md-12
        if (topNewest && topNewest.length)
          - for (let p = 0; p < topNewest.length; p += 1)
            .col-md-4.productBoxHeight
              .panel.panel-default
                - if (topNewest[p].wasPrice.length)
                  .cnrflash
                    .cnrflash-inner
                      span.cnrflash-label
                        | Промо
                .panel-heading.text-center.prodName.textDots
                  p
                    = topNewest[p].title
                .panel-body.text-center
                  table.table#tableBorderTop
                    tr
                      td.crop
                        a(href='/products/details/' + topNewest[p]._id)
                          img.img-responsive.imgRightDimensions.prodImg(title='Снимка на продукт', alt=topNewest[p].url, src=topNewest[p].url)
                    tr
                      td
                        | Цена: 
                        span.prodPrice
                          = topNewest[p].price
                        |  лв.
                    - if (topNewest[p].wasPrice.length)
                      tr
                        td.scratchOverText.text-center
                          = 'Стара цена: ' + topNewest[p].wasPrice + 'лв.'
                    - else
                      tr
                        td
                          br
                    - if (isAuthenticated)      
                      tr
                        td
                          button.addToFavorites.btn.btn-default.btn-lg.hundredPercentWidth(type='button', prodID=topNewest[p]._id)
                            span.glyphicon.glyphicon-heart
                            |  Добави в любими
                    tr
                      td
                        form(action='#', method='post')
                          fieldset
                            input(type='hidden', name='id', value=topNewest[p]._id)
                            input(type='hidden', name='title', value=topNewest[p].title)
                            input(type='hidden', name='url', value=topNewest[p].url)
                            input(type='hidden', name='price', value=topNewest[p].price)
                            - if (isAuthenticated)
                              input.button.btn.btn-warning.btn-lg.hundredPercentWidth(type='button', name='submit', value='Добави в количката').addToCart
                            - else
                              a.btn.btn-success.btn-lg.hundredPercentWidth(href="/products/details/" + topNewest[p]._id) Вижте детайли
            - if ((p !== 0) && ((p % 2 === 0) && (p % 5 === 0)))
              .clearfix.visible-md-block.visible-sm-block
      //First tab content end

      //Second tab content start
      #topViewed.tab-pane.fade
        .col-md-12
        if (topViewed && topViewed.length)
          - for (let p = 0; p < topViewed.length; p += 1)
            .col-md-4.productBoxHeight
              .panel.panel-default
                - if (topViewed[p].wasPrice.length)
                  .cnrflash
                    .cnrflash-inner
                      span.cnrflash-label
                        | Промо
                .panel-heading.text-center.prodName.textDots
                  p
                    = topViewed[p].title
                .panel-body.text-center
                  table.table#tableBorderTop
                    tr
                      td.crop
                        a(href='/products/details/' + topViewed[p]._id)
                          img.img-responsive.imgRightDimensions.prodImg(title='Снимка на продукт', alt=topViewed[p].url, src=topViewed[p].url)
                    tr
                      td
                        | Цена: 
                        span.prodPrice
                          = topViewed[p].price
                        |  лв.
                    - if (topViewed[p].wasPrice.length)
                      tr
                        td.scratchOverText.text-center
                          = 'Стара цена: ' + topViewed[p].wasPrice + 'лв.'
                    - else
                      tr
                        td
                          br
                    - if (isAuthenticated)
                      tr
                        td
                          button.addToFavorites.btn.btn-default.btn-lg.hundredPercentWidth(type='button' prodID=topNewest[p]._id)
                            span.glyphicon.glyphicon-heart
                            | Добави в любими
                    tr
                      td
                        form(action='#', method='post')
                          fieldset
                            input(type='hidden', name='id', value=topViewed[p]._id)
                            input(type='hidden', name='title', value=topViewed[p].title)
                            input(type='hidden', name='url', value=topViewed[p].url)
                            input(type='hidden', name='price', value=topViewed[p].price)
                            - if (isAuthenticated)
                              input.button.btn.btn-warning.btn-lg.hundredPercentWidth(type='button', name='submit', value='Добави в количката').addToCart
                            - else
                              a.btn.btn-success.btn-lg.hundredPercentWidth(href="/products/details/" + topViewed[p]._id) Вижте детайли
            - if ((p !== 0) && ((p % 2 === 0) && (p % 5 === 0)))
                .clearfix.visible-md-block.visible-sm-block
      //Second tab content end
    
  //Fading pics start
  .ban-bottom-w3l
    .container
      .col-md-6.ban-bottom3
        .ban-top
          a(href='/products/extraordinary')
            img.img-responsive(src='static/images/extraordinary1.jpg', alt='')
        .ban-img
          .ban-bottom1
            .ban-top
              a(href='/products/baskets')
                img.img-responsive(src='static/images/baskets.jpg', alt='')
          .ban-bottom2
            .ban-top
              a(href='/products/circle')
                img.img-responsive(src='static/images/circle.jpg', alt='')
          .clearfix
      .col-md-6.ban-bottom
        .ban-top
          a(href='/products/wedding')
            img.img-responsive(src='static/images/wedding1.jpg', alt='')
      .clearfix
  //Fading pics end