extends /layouts/default.pug

block content
  .breadcrumbs
    .container
      ol.breadcrumb.breadcrumb1.animated.wow.slideInLeft(data-wow-delay='.5s')
        li
          a(href='/')
            span.glyphicon.glyphicon-home(aria-hidden='true')
            | Начало
        li.active Редактиране на профил
  .container
    h1.page-header Редактиране на профила
    .row
      // left column
      .col-md-3.col-sm-5.col-xs-12
        .text-center
          img.avatar.img-circle.img-thumbnail(src='/static/images/user-pic.png', alt='user')
      // edit form column
      .col-md-9.col-sm-7.col-xs-12.personal-info
        form.form-horizontal(action='/profile-edit', method='POST', role='form')
          .form-group
            label.col-lg-3.control-label Потребителско име
            .col-lg-8
              input.form-control(type='text', name='username', value=user.username)
          .form-group
            label.col-lg-3.control-label Парола
            .col-lg-8
              input.form-control(type='password', name='password')
          .form-group
            label.col-lg-3.control-label Име и Фамилия
            .col-lg-8
              input.form-control(type='text', name='names', value=user.names)
          .form-group
            label.col-lg-3.control-label E-mail
            .col-lg-8
              input.form-control(type='text', name='email', value=user.email)
          .form-group
            label.col-md-3.control-label Телефонен номер
            .col-md-8
              input.form-control(type='text', name='phone', , value=user.phone)
          .form-group
            label.col-md-3.control-label Адрес
            .col-md-8
              input.form-control(type='text', name='contactInfo', , value=user.contactInfo)
          .form-group
            label.col-md-3.control-label
            .col-md-8
              input.btn.btn-success.btn-md(type='submit', value='Запази промените')
  br
  .clearfix
    